<div *ngIf="user">

  <div class="container">
    <div class="content">

      <h2 class="title">Profile</h2>
      <h3>Email - '{{ user.email }}'</h3>
      <h3> {{ user.role === 'TEACHER' ? 'Are you a teacher?' : 'Are you a parent?' }} </h3>

      <form [formGroup]="form" (ngSubmit)="saveUser()">

        <div class="input">
          <label><b>Name: </b></label> <br>
          <input type="text"
                 class="text-box"
                 placeholder="Enter a name"
                 formControlName="name"> <br>

          <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">

            <div>
              <p *ngIf="name.errors?.required" class="invalid">
                Enter a name
              </p>

              <p *ngIf="name.errors?.minlength" class="invalid">
                Min length: {{ name.errors?.minlength.requiredLength }}
              </p>
            </div>
          </div>
        </div>

        <div class="input">
          <label><b>Surname:</b></label>
          <input placeholder="Enter a surname"
                 class="text-box"
                 formControlName="surname">

          <div *ngIf="surname?.invalid && (surname?.dirty || surname?.touched)">
            <div>
              <p *ngIf="surname.errors?.required" class="invalid">
                Enter a surname
              </p>

              <p *ngIf="surname.errors?.minlength" class="invalid">
                Min length: {{ surname.errors?.minlength.requiredLength }}
              </p>
            </div>
          </div>
        </div>

        <button [disabled]="form.invalid" type="submit">Save changes</button>


      </form>
    </div>
  </div>

</div>
