table {
  width: 80%;
  border-collapse: collapse;
  color: #fff;
}

th {
  background-color: #333;
  padding: 10px;
  text-align: left;
}

tr:nth-child(odd) {
  background-color: #444;
}

tr:nth-child(even) {
  background-color: #555;
}

td {
  padding: 10px;
}

.title {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

